### This is the first step, Cleaning the data and extracting features that we will require, as well s dealing with any missing values in the data.

In [1]:
# importing libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

###### Intead of using a cloud databas for storing and using it to extract the necessary data, I am importing from my local storage

In [2]:
df=pd.read_csv('Data-Collisions.csv')
df.head(10)

C:\Users\bpver\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N
5,1,-122.387598,47.690575,6,320840,322340,E919477,Matched,Intersection,36974.0,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
6,1,-122.338485,47.618534,7,83300,83300,3282542,Matched,Intersection,29510.0,...,Wet,Daylight,NaN,8344002.0,NaN,10,Entering at angle,0,0,N
7,2,-122.320780,47.614076,9,330897,332397,EA30304,Matched,Intersection,29745.0,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,6855,0,N
8,1,-122.335930,47.611904,10,63400,63400,2071243,Matched,Block,NaN,...,Dry,Daylight,NaN,6166014.0,NaN,32,One parked--one moving,0,0,N
9,2,-122.384700,47.528475,12,58600,58600,2072105,Matched,Intersection,34679.0,...,Dry,Daylight,NaN,6079001.0,NaN,10,Entering at angle,0,0,N

In [3]:
df.tail(10)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
194663,2,-122.299160,47.579673,219536,309335,310615,E880807,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
194664,1,-122.325887,47.643191,219537,309222,310502,E879537,Matched,Intersection,28300.0,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
194665,1,-122.304217,47.669537,219538,308480,309760,3642620,Matched,Intersection,26005.0,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
194666,2,-122.344569,47.694547,219539,309170,310450,E879712,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
194667,1,-122.361672,47.556722,219541,307804,309084,3745813,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,50,Fixed object,0,0,N
194668,2,-122.290826,47.565408,219543,309534,310814,E871089,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,24,From opposite direction - both moving - head-on,0,0,N
194669,1,-122.344526,47.690924,219544,309085,310365,E876731,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,13,From same direction - both going straight - bo...,0,0,N
194670,2,-122.306689,47.683047,219545,311280,312640,3809984,Matched,Intersection,24760.0,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
194671,2,-122.355317,47.678734,219546,309514,310794,3810083,Matched,Intersection,24349.0,...,Dry,Dusk,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,4308,0,N
194672,1,-122.289360,47.611017,219547,308220,309500,E868008,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

In [4]:
# Checking no of rows and columns in the data
df.shape

(194673, 38)

In [5]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [6]:
print(type(df.columns))
print(type(df.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

##### Now, with all the steps above, we get a general idea about the data that we are dealing with, like the number of rows and columns in the data, the data types of each feature, and total missing features.

##### Now many missing values are marked as '?' in the fields, so first we will replace those with'NaN' values

In [8]:
# Replacing '?' with 'NaN' values
df.replace("?", np.nan, inplace = True)

In [9]:
# Generating a list of missing values for each column
col_list=df.columns.tolist()

for i in col_list:
    print(df[i].isna().value_counts())

False    194673
Name: SEVERITYCODE, dtype: int64
False    189339
True       5334
Name: X, dtype: int64
False    189339
True       5334
Name: Y, dtype: int64
False    194673
Name: OBJECTID, dtype: int64
False    194673
Name: INCKEY, dtype: int64
False    194673
Name: COLDETKEY, dtype: int64
False    194673
Name: REPORTNO, dtype: int64
False    194673
Name: STATUS, dtype: int64
False    192747
True       1926
Name: ADDRTYPE, dtype: int64
True     129603
False     65070
Name: INTKEY, dtype: int64
False    191996
True       2677
Name: LOCATION, dtype: int64
True     109862
False     84811
Name: EXCEPTRSNCODE, dtype: int64
True     189035
False      5638
Name: EXCEPTRSNDESC, dtype: int64
False    194673
Name: SEVERITYCODE.1, dtype: int64
False    194673
Name: SEVERITYDESC, dtype: int64
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64
False    194673
Name: PERSONCOUNT, dtype: int64
False    194673
Name: PEDCOUNT, dtype: int64
False    194673
Name: PEDCYLCOUNT, dtype: int64
False    194673
Name: VEHCOUNT, dtype: int64
False    194673
Name: INCDATE, dtype: int64
False    194673
Name: INCDTTM, dtype: int64
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64
False    194673
Name: SDOT_COLCODE, dtype: int64
False    194673
Name: SDOT_COLDESC, dtype: int64
True     164868
False     29805
Name: INATTENTIONIND, dtype: int64
False    189789
True       4884
Name: UNDERINFL, dtype: int64
False    189592
True       5081
Name: WEATHER, dtype: int64
False    189661
True       5012
Name: ROADCOND, dtype: int64
False    189503
True       5170
Name: LIGHTCOND, dtype: int64
True     190006
False      4667
Name: PEDROWNOTGRNT, dtype: int64
False    114936
True      79737
Name: SDOTCOLNUM, dtype: int64
True     185340
False      9333
Name: SPEEDING, dtype: int64
False    194655
True         18
Name: ST_COLCODE, dtype: int64
False    189769
True       4904
Name: ST_COLDESC, dtype: int64
False    194673
Name: SEGLANEKEY, dtype: int64
False    194673
Name: CROSSWALKKEY, dtype: int64
False    194673
Name: HITPARKEDCAR, dtype: int64

##### Now there are quite a few fields with missing values. So, before replacing the missing values, we will remove fields that we will not require.

In [10]:
# printing a list of columns
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [11]:
# Dropping column fields
df=df.drop(['SEVERITYCODE.1','COLDETKEY','STATUS','INTKEY','INCDTTM','OBJECTID',
            'INCKEY','EXCEPTRSNCODE','EXCEPTRSNDESC','REPORTNO','SEVERITYDESC','SDOT_COLDESC',
            'SDOTCOLNUM','ST_COLDESC','SEGLANEKEY','CROSSWALKKEY','ST_COLCODE','SDOT_COLCODE'],axis=1)

In [12]:
df.shape

(194673, 20)

In [13]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'ADDRTYPE', 'LOCATION', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'JUNCTIONTYPE', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SPEEDING', 'HITPARKEDCAR'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   ADDRTYPE        192747 non-null  object
 4   LOCATION        191996 non-null  object
 5   COLLISIONTYPE   189769 non-null  object
 6   PERSONCOUNT     194673 non-null  int64
 7   PEDCOUNT        194673 non-null  int64
 8   PEDCYLCOUNT     194673 non-null  int64
 9   VEHCOUNT        194673 non-null  int64
 10  INCDATE         194673 non-null  object
 11  JUNCTIONTYPE    188344 non-null  object
 12  INATTENTIONIND  29805 non-null   object
 13  UNDERINFL       189789 non-null  object
 14  WEATHER         189592 non-null  object
 15  ROADCOND        189661 non-null  object
 16  LIGHTCOND       189503 non-null  object
 17  PEDROWNOTGRNT   4667 non-null    object
 18  SPEEDING        9333 non-null    object
 19  HITPARKEDCAR    194673 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 29.7+ MB

##### We dropped some column fields from the original dataset, so now we are good to proceed with replacing the missing data values

In [15]:
# Generating a summary of missing values for the dataset
col_list=df.columns.tolist()

for i in col_list:
    if(df[i].isna().sum()>0):  # Condition to print only columns fields with missing values
        print('Total missing values in field '+i+':',df[i].isna().sum())
        print(df[i].value_counts())
        print('----------------')

Total missing values in field X: 5334
-122.332653    265
-122.344896    254
-122.328079    252
-122.344997    239
-122.299160    231
              ...
-122.322768      1
-122.288680      1
-122.405699      1
-122.323578      1
-122.343898      1
Name: X, Length: 23563, dtype: int64
----------------
Total missing values in field Y: 5334
47.708655    265
47.717173    254
47.604161    252
47.725036    239
47.579673    231
            ...
47.556705      1
47.709101      1
47.513899      1
47.565438      1
47.563521      1
Name: Y, Length: 23839, dtype: int64
----------------
Total missing values in field ADDRTYPE: 1926
Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64
----------------
Total missing values in field LOCATION: 2677
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N    276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB    271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N          265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                    254
6TH AVE AND JAMES ST                                              252
                                                                 ...
32ND AVE BETWEEN E DENNY S WAY AND E DENNY N WAY                    1
DISCOVERY PARK BLVD BETWEEN NEBRASKA ST AND ALASKA AVE              1
MERIDIAN AVE N BETWEEN N 46TH S ST AND N 46TH N ST                  1
MALDEN AVE E AND E REPUBLICAN ST                                    1
N 47TH ST BETWEEN PHINNEY AVE N AND DAYTON AVE N                    1
Name: LOCATION, Length: 24102, dtype: int64
----------------
Total missing values in field COLLISIONTYPE: 4904
Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64
----------------
Total missing values in field JUNCTIONTYPE: 6329
Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64
----------------
Total missing values in field INATTENTIONIND: 164868
Y    29805
Name: INATTENTIONIND, dtype: int64
----------------
Total missing values in field UNDERINFL: 4884
N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64
----------------
Total missing values in field WEATHER: 5081
Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64
----------------
Total missing values in field ROADCOND: 5012
Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64
----------------
Total missing values in field LIGHTCOND: 5170
Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64
----------------
Total missing values in field PEDROWNOTGRNT: 190006
Y    4667
Name: PEDROWNOTGRNT, dtype: int64
----------------
Total missing values in field SPEEDING: 185340
Y    9333
Name: SPEEDING, dtype: int64
----------------

In [16]:
# Now we will generate a summary of fields with no missing values
for i in col_list:
    if(df[i].isna().sum()==0):
         print(df[i].value_counts())
         print('--------x--------')

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64
--------x--------
2     114231
3      35553
4      14660
1      13154
5       6584
0       5544
6       2702
7       1131
8        533
9        216
10       128
11        56
12        33
13        21
14        19
15        11
17        11
16         8
44         6
18         6
20         6
25         6
19         5
26         4
22         4
27         3
28         3
29         3
47         3
32         3
34         3
37         3
23         2
21         2
24         2
30         2
36         2
57         1
31         1
35         1
39         1
41         1
43         1
48         1
53         1
54         1
81         1
Name: PERSONCOUNT, dtype: int64
--------x--------
0    187734
1      6685
2       226
3        22
4         4
6         1
5         1
Name: PEDCOUNT, dtype: int64
--------x--------
0    189189
1      5441
2        43
Name: PEDCYLCOUNT, dtype: int64
--------x--------
2     147650
1      25748
3      13010
0       5085
4       2426
5        529
6        146
7         46
8         15
9          9
11         6
10         2
12         1
Name: VEHCOUNT, dtype: int64
--------x--------
2006/11/02 00:00:00+00    96
2008/10/03 00:00:00+00    92
2005/05/18 00:00:00+00    84
2006/01/13 00:00:00+00    83
2005/11/05 00:00:00+00    83
                          ..
2020/05/18 00:00:00+00     2
2020/05/20 00:00:00+00     1
2015/12/25 00:00:00+00     1
2020/05/19 00:00:00+00     1
2020/05/17 00:00:00+00     1
Name: INCDATE, Length: 5985, dtype: int64
--------x--------
N    187457
Y      7216
Name: HITPARKEDCAR, dtype: int64
--------x--------

In [18]:
# Replacing missing data fields with suitable values
df['ADDRTYPE'].replace(np.nan,'Not Specified',inplace=True)
df['LOCATION'].replace(np.nan,'Not Specified',inplace=True)
df['COLLISIONTYPE'].replace(np.nan,'Other',inplace=True)
df['JUNCTIONTYPE'].replace(np.nan,'Unknown',inplace=True)
df['INATTENTIONIND'].replace(np.nan,'N',inplace=True)
df['PEDROWNOTGRNT'].replace(np.nan,'N',inplace=True)
df['SPEEDING'].replace(np.nan,'N',inplace=True)
df['LIGHTCOND'].replace(np.nan,'Unknown',inplace=True)
df['LIGHTCOND'].replace('Other','Unknown',inplace=True)
df['ROADCOND'].replace(np.nan,'Unknown',inplace=True)
df['ROADCOND'].replace('Other','Unknown',inplace=True)
df['WEATHER'].replace(np.nan,'Unknown',inplace=True)
df['WEATHER'].replace('Other','Unknown',inplace=True)
df['UNDERINFL'].replace(np.nan,'N',inplace=True)
df['UNDERINFL'].replace('0','N',inplace=True)
df['UNDERINFL'].replace('1','Y',inplace=True)

In [20]:
# checking number of missing fields
for i in col_list:
    if(df[i].isna().sum()>0):
         print('Total missing values in field '+i+':',df[i].isna().sum())
         print(df[i].value_counts())
         print('xxxxxxxxxxxxxxxxx')

Total missing values in field X: 5334
-122.332653    265
-122.344896    254
-122.328079    252
-122.344997    239
-122.299160    231
              ...
-122.322768      1
-122.288680      1
-122.405699      1
-122.323578      1
-122.343898      1
Name: X, Length: 23563, dtype: int64
xxxxxxxxxxxxxxxxx
Total missing values in field Y: 5334
47.708655    265
47.717173    254
47.604161    252
47.725036    239
47.579673    231
            ...
47.556705      1
47.709101      1
47.513899      1
47.565438      1
47.563521      1
Name: Y, Length: 23839, dtype: int64
xxxxxxxxxxxxxxxxx

In [21]:
# now checking fields with no missing values
for i in col_list:
    if(df[i].isna().sum()==0):
         print(df[i].value_counts())
         print('--------x--------')

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64
--------x--------
Block            126926
Intersection      65070
Not Specified      1926
Alley               751
Name: ADDRTYPE, dtype: int64
--------x--------
Not Specified                                                     2677
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N     276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB     271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N           265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                     254
                                                                  ...
SW AVALON WAY AND SW ORLEANS ST                                      1
59TH AVE S BETWEEN S 118TH ST AND BEACON AVE S                       1
NW 83RD ST BETWEEN 24TH N AVE NW AND 25TH AVE NW                     1
SW STEVENS ST BETWEEN FAIRMOUNT AVE SW AND WALNUT AVE SW             1
N 47TH ST BETWEEN PHINNEY AVE N AND DAYTON AVE N                     1
Name: LOCATION, Length: 24103, dtype: int64
--------x--------
Parked Car    47987
Angles        34674
Rear Ended    34090
Other         28607
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64
--------x--------
2     114231
3      35553
4      14660
1      13154
5       6584
0       5544
6       2702
7       1131
8        533
9        216
10       128
11        56
12        33
13        21
14        19
15        11
17        11
16         8
44         6
18         6
20         6
25         6
19         5
26         4
22         4
27         3
28         3
29         3
47         3
32         3
34         3
37         3
23         2
21         2
24         2
30         2
36         2
57         1
31         1
35         1
39         1
41         1
43         1
48         1
53         1
54         1
81         1
Name: PERSONCOUNT, dtype: int64
--------x--------
0    187734
1      6685
2       226
3        22
4         4
6         1
5         1
Name: PEDCOUNT, dtype: int64
--------x--------
0    189189
1      5441
2        43
Name: PEDCYLCOUNT, dtype: int64
--------x--------
2     147650
1      25748
3      13010
0       5085
4       2426
5        529
6        146
7         46
8         15
9          9
11         6
10         2
12         1
Name: VEHCOUNT, dtype: int64
--------x--------
2006/11/02 00:00:00+00    96
2008/10/03 00:00:00+00    92
2005/05/18 00:00:00+00    84
2006/01/13 00:00:00+00    83
2005/11/05 00:00:00+00    83
                          ..
2020/05/18 00:00:00+00     2
2020/05/20 00:00:00+00     1
2015/12/25 00:00:00+00     1
2020/05/19 00:00:00+00     1
2020/05/17 00:00:00+00     1
Name: INCDATE, Length: 5985, dtype: int64
--------x--------
Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
Unknown                                               6338
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Name: JUNCTIONTYPE, dtype: int64
--------x--------
N    164868
Y     29805
Name: INATTENTIONIND, dtype: int64
--------x--------
N    185552
Y      9121
Name: UNDERINFL, dtype: int64
--------x--------
Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      21004
Snowing                        907
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64
--------x--------
Dry               124510
Wet                47474
Unknown            20222
Ice                 1209
Snow/Slush          1004
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64
--------x--------
Daylight                    116137
Dark - Street Lights On      48507
Unknown                      18878
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64
--------x--------
N    190006
Y      4667
Name: PEDROWNOTGRNT, dtype: int64
--------x--------
N    185340
Y      9333
Name: SPEEDING, dtype: int64
--------x--------
N    187457
Y      7216
Name: HITPARKEDCAR, dtype: int64
--------x--------

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   ADDRTYPE        194673 non-null  object
 4   LOCATION        194673 non-null  object
 5   COLLISIONTYPE   194673 non-null  object
 6   PERSONCOUNT     194673 non-null  int64
 7   PEDCOUNT        194673 non-null  int64
 8   PEDCYLCOUNT     194673 non-null  int64
 9   VEHCOUNT        194673 non-null  int64
 10  INCDATE         194673 non-null  object
 11  JUNCTIONTYPE    194673 non-null  object
 12  INATTENTIONIND  194673 non-null  object
 13  UNDERINFL       194673 non-null  object
 14  WEATHER         194673 non-null  object
 15  ROADCOND        194673 non-null  object
 16  LIGHTCOND       194673 non-null  object
 17  PEDROWNOTGRNT   194673 non-null  object
 18  SPEEDING        194673 non-null  object
 19  HITPARKEDCAR    194673 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 29.7+ MB

##### So, we are through with the wraangling portion(mostly), though we still need to deal with the missing x and y fields, because if we drop the missing rows, we totally lose the 'alley' data from "ADDRTYPE" field. So, for now we may export the data as it is and do further fine tuning during the exploratory analysis.

In [23]:
# exporting data to a new csv
df.to_csv('primary_clean_data.csv')